#rojo {
    background-color: red;
    color: black;
}
#verde{
    background-color: green;
}
#gris {
    background-color: gray;
}
#cafe {
    background-color: brown;
}
#azul {
    background-color: blue;
}
#violeta {
    background-color: violet;
}
#rosado {
    background-color: pink;
}
#amarillo {
    background-color: yellow;
}
#turquesa {
    background-color: turquoise;
}
#naranjo {
    background-color: orange;
}
#purpura {
    background-color: purple;
}
#amarillo {
    background-color: yellow;
}
#negro {
    background-color: black;
    color: white;
}